# Игнорируем файлы ОС
.DS_Store
Thumbs.db

# Игнорируем байт‑код Python и кэш
*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.dll

# Игнорируем логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# Игнорируем IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорируем виртуальные окружения
venv/
env/
.venv/
